@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    font-family: 'Merriweather', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.logo {
    font-family: 'Delicious Handrawn', sans-serif;
    color: #cc5730;
}

/* Navigation Bar */
.custom-nav {
    background: #54671d;
}

.nav-item {
    font-family: 'Merriweather', serif;
}

/*Image in recipe page*/
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover; 
    
}

/* Index/Home Page */
.home-back{
    background-image: url('https://images.pexels.com/photos/4033636/pexels-photo-4033636.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-title {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    position: absolute;
    text-align: center;
    text-shadow: 0.1vh 0.1vh #54671d;
    color: #4299ac;
    font-family: 'Delicious Handrawn', sans-serif;;
    font-size: 12vh; 
}

.home-box {
    width: 50vh;
    margin-top: 15vh;
    color: #cc5730;
    position: absolute;
    border: 1px solid #4299ac;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 17rem;
    text-align: center;
    background-color: rgba(300, 245, 245, 0,9);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.home-box > h2 {
    font-weight: 800;
    margin-top: 1rem;
}

.home-box > p {
    margin: 1rem;   
}


/* Recipe_detail Page */
.recipe-det-img {
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}

.detail-heading {
    font-size: 2rem;
    font-weight: bold;
}

.detail-card {
    width: 55%;
    margin: 0 auto;
}

h4 {
   
    color: #7d807e;
    text-decoration: underline;
}

/* Footer */

footer {
    margin-top: auto;
  }

.footer-base {
    width: 30vw;
    margin: 1rem auto;
}

.social-media-icons {
    width: 20vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-bottom:1rem;
}

.social-media-icons > li {
    list-style: none;
}

.social-media-icons i {
    font-size: 4vh;
    color: #4299ac;
}