@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    font-family: 'Merriweather', sans-serif;
}

.logo {
    color: #cc5730;
    font-size: 1.5rem;
    font-family: 'Delicious Handrawn', sans-serif;
}

/* Navigation Bar */
.custom-nav {
    background: #54671d;
}

.nav-item {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

/* Index/Home Page */
.home-back{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),url('https://res.cloudinary.com/dz0w8vqzx/image/upload/v1681733864/pexels-photo-4033636_gtrsg0.jpg');
    min-height: 75vh;
    background-size: cover;
}

.home-title {
    padding-top: 2rem;
    text-align: center;
    text-shadow: 0.1vh 0.1vh #cc5730;
    color: #4299ac;
    font-family: 'Delicious Handrawn', sans-serif;
    font-size: 5rem;
}

.home-box {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.1rem solid #4299ac;
    margin: 2rem;
}

.home-box > h2 {
    font-weight: 800;
    margin-top: 1rem;
}

.home-box p {
    margin: 1rem;   
}

/* Recipe_detail Page */
.recipe-det-img {
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    width: 50%;
    height: 55vh;
}

.detail-heading {
    font-size: 3rem; 
    text-decoration: underline;
}

.detail-card > h3 {
    text-decoration: underline;
}
.card-text {
    padding-bottom: 1rem;
}

/*Image in recipe page*/
.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover; 
    
}

/* Delete recipe  */
.delete-recipe {
    text-decoration: none;
    color: #54671d;
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: x-large;
    font-weight: bolder;
    
}

/* Edit recipe */
.edit-recipe {
    color: #54671d;
    position: absolute;
    top: -5px;
    right: 2rem;
    font-size: large;
    font-weight: bolder;
}

/* Comments section*/

.recipe-comment-body {
    position: relative;
    background-color: #f1f1ec;
    padding: 0.6rem;
    margin-bottom: 1rem;
}

/* Delete comment */
.delete-comment {
    text-decoration: none;
    color: #54671d;
    font-weight: bolder;
    position: absolute;
    right: 1rem;
    top: 0;
}

/* Edit comment */
.edit-comment {
    color: #54671d;
    position: absolute;
    right: 2.5rem;
    top: .3rem;
}

/* Adding a comment */
.add-recipe-comment {
    max-width: 65%;
    margin: 0 auto;
}

.card-body textarea {
    height: 6rem;
}

/*Adding recipes*/
.create-form {
    text-align: center;
}

.create-form input, .create-form textarea {
    border: 1px solid #cc5730;
}

.create-form input {
    width: 85%;
    margin: 0 auto;
}

.create-form label {
    margin-top: 1rem;
    font-weight: bold;
}

/* Likes */
.likes-recipe {
    margin-bottom: 1rem;
}

.likes-recipe button {
    color: #cc5730;
    background: transparent;
    border: none;
}

/* Login Page */

.login-title {
    background-color: #f1f2EC;
}

.login-title h1 {
    color: #54671d;
    padding-top: 2rem;
    margin-top: 4rem;
}

.login-title p {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
}

.login-title a {
    color: #54671d;
}

.login-user input {
    border: 1.5px solid #54671d;
}

.btn-blue{
    background-color: #54671d;
    color: #f1f2EC;
}

/* Sign Up Page*/
.signup-user {
    margin-bottom: 1rem;
}

.signup-user label {
    margin-left: -2rem;
    width: 9rem;
    display: inline-block;
}

.signup-user input {
    border: 1.5px solid #54671d;
}

.btn-blue {
    margin-top: 2rem;
}

/* Logout Page */
.logout {
    background-color: #f1f2EC;
    padding: 2rem 0 2rem 0;
    margin-top: 4rem;
}

.logout h1 {
    color: #54671d;
    font-weight: bolder;
}

/* Footer */

footer {
    margin-top: 3rem;
  }

.footer-base {
    width: 30vw;
    margin: 1rem auto;
}

.social-media-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.social-media-icons > li {
    list-style: none;
}

.social-media-icons i {
    font-size: 4vh;
    color: #54671d;
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
.home-title {
    font-size: 10rem;
}
.home-box {
    margin: 4rem;
}
}