{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load cloudinary %}

<h1 class="text-center mt-3">Here You Can Add Your Recipe</h1>
<!-- The form to create a recipe -->
<div class="container mt-4 create-form">
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                
                <a href="{% url 'blog_recipes' %}" class="btn btn-success mt-4 mb-4">Cancel</a>
                <button type="submit" class="btn btn-blue mt-4 mb-4">SUBMIT</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}