
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- The form to edit a comment -->
<h3 class="text-center mt-4">Edit your comment that you posted on {{ comment.date_added }}</h3>
<div class="row mt-4">
    <div class="col-12">
        <div class="card post-comment">
            <div class="card-body post-comment-body">
                <form method="post">
                    {{ form | crispy }}
                    <br>
                    {% csrf_token %}
                    <a href="{% url 'recipe_detail' comment.recipe.slug %} "class="btn btn-warning mt-2">Cancel</a> 
                    <button type="submit" class="btn btn-blue mt-2">Update</button>  
                </form>
            </div>       
        </div>
    </div>
</div>


{% endblock %}