{% extends 'base.html' %}
{% block content %}
<div class="home-back text-center">
    <h1 class="home-title">Tastebook</h1>
    <div class="home-box">
        <!-- About section on home page -->
        <h2>WELCOME TO US!</h2>
        <p class="mt-4"> Tastebook  is a platform for you that are interested in food and interested in sharing your favourite recipes while browsing through other fellow individuals favourite recipes.
            Click on the recipe link in the navigation to see the list of recipes that are living on the website. 
            Please click on the register button at the top and enter your details in order to view each recipe, add your own and to comment and like on others. 
        </p>
    </div>
</div>  

{% endblock %}