{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- The recipe details-->
<div class="row g-0">
    <div class="col-12">
        <div class="card border-0 mt-4">
            {% if "placeholder" in recipe.image.url %}
                <img src="https://res.cloudinary.com/dz0w8vqzx/image/upload/v1680549064/dic72y83ygekeq6pcz1w.jpg" class="recipe-det-img img-responsive" alt="Default Placeholder image">
            {% else %}
                <img src="{{ recipe.image.url }}" class="recipe-det-img img-responsive" alt="Shows an image of the selected recipe">
            {% endif %}  

            {% if user.is_authenticated and user == recipe.author %}
                <a href="" class="delete-recipe" data-bs-toggle="modal" data-bs-target="#deleteRecipeModal"><i class="far fa-trash-alt"></i></a>
                <a href="{% url 'edit_recipe' recipe.id %}" ><i class="fas fa-edit edit-recipe"></i></a>
            {% endif %}
            <div class="card-body">
                <h3 class="detail-heading text-center">{{ recipe.title }}</h3>
                <p class="card-text text-center author"> Added by {{ recipe.author }}</p>
                <!-- Likes section-->
                <div class="likes-recipe">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" aria-label="A Like Button" name="recipepost_id" value="{{recipe.slug}}"><i class="fas fa-heart"></i></button>
                            {% if recipe.number_of_likes == 1 %}
                            <span class="text-dark"> You liked it</span>

                            {% elif recipe.number_of_likes == 2  %}
                            <span class="text-dark"> You and 1 other person liked it</span>

                            {% else %}
                            <span class="text-dark"> You and {{ recipe.number_of_likes|add:"-1" }} other people liked it</span>
                            {% endif %}
                        {% else %}
                        <button type="submit" aria-label="A Like Button" name="recipepost_id" value="{{recipe.slug}}"><i class="far fa-heart"></i></button>
                        {% endif %}
                        <span class="text-dark"> {{ recipe.number_of_likes }} </span>
                    </form>

                    {% else %}
                    <span class="text-dark"><i class="far fa-heart"></i></span>
                    {% endif %}
                           
                </div>
                <!-- The main recipe details -->
                <div class="detail-card">
                    <h3>Recipe-description</h3>
                    <div class="card-text"> {{ recipe.recipe_description|safe }}</div>
                    <h3>Recipe-ingredients</h3>
                    <div class="card-text"> {{ recipe.recipe_ingredients|safe }}</div>
                    <h3>How to</h3>
                    <div class="card-text"> {{ recipe.how_to|safe }}</div>
                </div>
            </div>
        </div> 
    </div>
</div> 

   
<!-- Comment section -->
<div class="row g-0">
    <div class="col-12 mb-2 pb-4">
        <div class="card recipe-comment-card">
            <h2 class="text-center">Comments</h2>
            <div class="card-body">
                {% for comment in recipe_comments %}
                <div class="recipe-comment-body md-4">
                    <p>{{ comment.share_your_thoughts }}</p>
                    <p class="mb-2"> Written by <span class="wrote-on">{{ comment.name }}</span> on <span class="wrote-on">{{ comment.date_created }}</span></p>
                        
                    {% if user.is_authenticated and user.username == comment.name %}
                    <a href="" class="delete-comment" data-bs-toggle="modal" data-bs-target="#deleteCommentModal"><i class="far fa-trash-alt"></i></a>
                    <a href="{% url 'edit_comment' comment.id %}" ><i class="fas fa-edit edit-comment"></i></a>
                    {% endif %}   
                </div>   
            
                <!-- Modal taken from bootstrap modals page to delete a comment -->
                <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content modal-delete">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <p>Please, confirm that you want to delete this comment!</p>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                            <form action="{% url 'delete_comment' comment.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger" value="Confirm">YES</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Add a comment section -->
{% if user.is_authenticated %}
<div class="row g-0">
    <div class="col-12">
        <div class="card add-recipe-comment">
            <div class="card-body post-comment-body">
                <h5>Add a Comment:</h5>
                <p>By: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" aria-label="Add A Comment" class="btn btn-blue mt-2">Add a comment</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


 <!-- Modal taken from bootstrap modals page to delete a recipe-->
 <div class="modal fade" id="deleteRecipeModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-delete">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteRecipeModalLabel">Delete Recipe</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Please, confirm that you want to delete {{ recipe.title }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{% url 'delete_recipe' recipe.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" value="Confirm">Yes</button>
          </form>
        </div>
      </div>
    </div>
</div>


{% endblock %}